body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

h1 {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

#content {
    margin: auto;
    margin-top: 100px;
}

#confirm {
    width: 250px;
    margin: auto;
    margin-top: 100px;
}

td {
    padding: 8px;
    text-align: right;
}

button {
    width: 100%;
}