body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

h1 {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
}

#maincontent {
    margin: auto;
    margin-top: 100px;
    width: 200px;
    text-align: center;
}

input {
    margin: 8px;
    width: 182px;
}

button {
    margin: 8px;
    width: 200px;
    height: 28px;
}

a {
    font-size: 12px;
}

h1 a {
    float: right;
    margin-top: 8px;
    text-decoration: none;
    padding: 6px;
    border-radius: 10px;
    background-color: rgb(117, 117, 117)
}

#managearea {
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

table {
    margin: auto;
    margin-top: 40px;
}